<div class="md-padding" layout="row" ng-cloak>
    <div flex="20" layout="column" layout-fill layout-padding>
        <md-toolbar layout="row">
            <h1 class="md-title">{{deck.name}}</h1>
            <span flex></span>
            <md-button class="md-fab md-mini md-hue-3" ng-click="addCard()">
                <md-tooltip md-direction="bottom">
                  Add New Card
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </md-toolbar>
        <md-content flex layout-padding style="height: 700px;">
            <md-card ng-repeat="card in deck.cards">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-subhead">place holder</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-xl card-media"></div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
              </md-card-actions>
            </md-card>
        </md-content>
    </div>
    <md-divider flex="1"></md-divider>
    <div flex="79" layout-fill layout-padding layout="row">
        <md-card flex="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">place holder</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-xl card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
          </md-card-actions>
        </md-card>
        <md-card flex="50">
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">place holder</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-xl card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
          </md-card-actions>
        </md-card>
    </div>
</div>