<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span class="title" ng-click="app.goHome()">SnapCards</span>
        </h2>
        <div layout="row" ng-transclude="" flex>
        </div>
        <span flex></span>
        <md-button ng-show="user.loggedIn" class="md-icon-button" aria-label="Sign In" ng-click="user.loggedIn = false; app.goHome();">
            <md-icon>input</md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="More" ng-click="app.openMenu($mdOpenMenu, $event)">
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="app.goTo('about')">
                        <div layout="row" flex>
                            <p flex>About Us</p>
                            <md-icon md-menu-align-target>school</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="">
                        <div layout="row" flex>
                            <p flex>Contact Us</p>
                            <md-icon md-menu-align-target>mail</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>