<div class="md-padding md-bg-primary">
	<h1 class="md-display-4" style="text-align: center; font-weight: bold;">SnapCards</h1>

	<div layout="column" flex role="main">
		<md-content layout="vertical" flex>
			<div layout="row" layout-align="center center" layout-fill class="md-padding">
				<md-whiteframe layout="column" flex="30" layout-padding>
					<md-content>
						<form ng-submit="user.loggedIn = true; app.goHome()">
							<md-input-container layout>
								<label>Email</label>
								<input ng-model="user.email">
							</md-input-container>
							<md-input-container layout>
								<label>Password</label>
								<input ng-model="user.password" type="password">
							</md-input-container>
							<md-input-container layout>
								<md-checkbox ng-if="signup" ng-model="user.teacher" aria-label="Checkbox 1">
					            	Teachers Check here!
					        	</md-checkbox>
							</md-input-container>
							
							<md-input-container ng-if="signup && user.teacher" layout>
								<label>Teacher Code</label>
								<input ng-model="isTeach">
							</md-input-container>
							<md-input-container layout="row">
								<button md-button ng-if="!signup" class="md-raised md-primary" flex type="submit">Login</button>
								<md-button ng-if="!signup" class="md-raised md-secondary" ng-click="newAccount()" flex>Sign Up</md-button>
								<button md-button ng-if="signup" class="md-raised md-primary" ng-click="back()" flex>Existing Account</button>
								<md-button ng-if="signup" class="md-raised md-secondary" ng-click="create()" flex>Sign Up</md-button>
							</md-input-container>
						</form>
					</md-content>
				</md-whiteframe>
			</div>
		</md-content>
	</div>
</div>
