<div class="md-padding md-bg-primary">
	<h1 class="md-display-4" style="text-align: center; font-weight: bold;">👌 SnapCards</h1>

	<div layout="column" flex role="main">
		<md-content layout="vertical" flex>
			<div layout="row" layout-align="center center" layout-fill class="md-padding">
				<md-whiteframe layout="column" flex="30" layout-padding>
					<md-content>
						<form ng-submit="app.user.loggedIn = true; app.goHome()">
							<md-input-container layout>
								<label>Email</label>
								<input ng-model="user.email">
							</md-input-container>
							<md-input-container layout>
								<label>Password</label>
								<input ng-model="user.password" type="password">
							</md-input-container>
							<md-input-container layout="row">
								<button md-button class="md-raised md-primary" flex type="submit">Login</button>
								<md-button class="" flex>Sign Up</md-button>
							</md-input-container>
						</form>
					</md-content>
				</md-whiteframe>
			</div>
		</md-content>
	</div>
</div>