<main-toolbar></main-toolbar>
<div layout="row" ng-cloak>
  <section flex="66" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 flex><span><md-icon>list</md-icon> My Decks</span></h2>
      </div>
    </md-toolbar>
    <md-content layout="row" layout-padding layout-wrap style="height: 600px;">
      <div flex="33" ng-repeat="deck in MyDecks">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{deck.name}}</span>
              <span class="md-subhead">{{deck.description}}</span>
              <span class="md-subhead" style="font-style: italic;">{{deck.cards.length}} cards</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-xl card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center" layout-margin>
            <md-button ng-if="!user.teacher" ng-click="study(deck)"><md-icon>library_books</md-icon> Study</md-button>
            <md-button ng-if="user.teacher" ng-click="assign($event, deck)"><md-icon>library_books</md-icon> Assign</md-button>
            <md-button ng-click="edit(deck)"><md-icon>mode_edit</md-icon> Edit</md-button>
            <md-button ng-click="share($event, deck)"><md-icon>share</md-icon> Share</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
    <div layout="row" layout-align="end">
      <md-button class="md-fab md-primary" ng-click="addNewDeck()">
        <md-tooltip md-direction="left">
          Add New Deck
        </md-tooltip>
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </section>
  <md-divider flex="2"></md-divider>
  <section flex="33" layout="column">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <h2 flex><span><md-icon>share</md-icon> Public Decks</span></h2>
      </div>
    </md-toolbar>
    <md-content layout-padding style="height: 600px;">
      <md-input-container layout>
        <label>Search</label>
        <input type="text" flex ng-model="publicSearch">
      </md-input-container>
        <md-card flex="" ng-repeat="deck in PublicDecks | filter: publicSearch">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{deck.name}}</span>
              <span class="md-subhead">{{deck.description}}</span>
              <span class="md-subhead" style="font-style: italic;">{{deck.cards.length}} cards</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-xl card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center" layout-margin>
            <md-button ng-click="study(deck)"><md-icon>library_books</md-icon> Study</md-button>
            <md-button ng-click="save($event, deck)"><md-icon>mode_edit</md-icon> Save</md-button>
          </md-card-actions>
        </md-card>
    </md-content>
  </section>
</div>
